---
- name: hosts variables scanned
  setup:

- name: current repositories disabled
#  hosts: "{{ inventory_hostname }}"
  become: True
  shell: 
    subscription-manager repos --disable=*
  when: ansible_distribution == "RedHat"

- name: nodename set
  hostname:
    name: "{{ nodename }}"

- name: proper depositories enabled
  become: True
  shell:
    subscription-manager repos --enable={{ item }}
  with_items:
    - rhel-7-server-rpms
    - rhel-7-server-extras-rpms
  when: ansible_distribution == "RedHat"

- name: upgrade all packages
#  host: "{{ inventory_hostname }}"
  become: True
  yum:
    name: '*'
    state: latest
  ignore_errors: yes
  register: updated

# - name: Check if reboot is necessary.
#   command: needs-restarting -r
#   register: reboot_check
#   changed_when: false
#   failed_when: reboot_check.rc > 1

- name: Check for reboot hint
  become: true
  shell: LAST_KERNEL=$(rpm -q --last kernel | perl -pe 's/^kernel-(\S+).*/$1/' | head -1);CURRENT_KERNEL=$(uname -r); if [ $LAST_KERNEL != $CURRENT_KERNEL ]; then echo 'reboot'; else echo 'no'; fi
  ignore_errors: true
  register: reboot_hint

- name: reboot hint was {{ debug: var=reboot_hint }}

- name: reboot if kernel is changed
  shell: sleep 2 && shutdown -r now "Rebooting from a playbook"
  async: 1
  poll: 0
  become: True
  ignore_errors: yes
#  when: updated.changed  
  when: reboot_hint.stdout.find("reboot") != -1

- name: waiting for a machine to complete reboot
  become: False
  delegate_to: localhost  
  wait_for:
    host: "{{ inventory_hostname }}"
    state: started
    delay: 30
    timeout: 300
    port: 22
    search_regex: OpenSSH
  # when: updated.changed
  when: reboot_hint.stdout.find("reboot") != -1

- name: declare success
  debug: msg="This thing worked!"
  when: updated.changed  
