  - name: install package
    yum:
      pkg: haproxy
      state: latest
  - name: install socat
    yum:
      pkg: socat
      state: latest
  - command: setenforce 0
    become: true
  - name: install the config files
    template: 
      src: templates/haproxy.cfg.j2
      dest: /etc/haproxy/haproxy.cfg
  - name: start the haproxy service
    service:
      name: haproxy
      state: started
      enabled: true

   
